<h1>Suggest a time suggestion</h1>
<%= simple_form_for [@event, @suggestion] do |f| %>
  <div class="row">
    <div class="col">
      <%= f.input :date, as: :string,
                  wrapper_html: { class: "mb-4" },
                  label_html: { class: "form-label text-secondary fw-bold" },
                  input_html: { data: { controller: "flatpickr" } } %>
    </div>
    <div class="col">
      <%= f.submit "Suggest this suggestion" %>
    </div>
  </div>
<% end %>
