<ul class="list-inline tabs-underlined">
  <li>
    <%= link_to "Upcoming events", events_path, class: "tab-underlined active" %>
  </li>
  <li>
    <%= link_to "My invitations", user_invitations_path(current_user), class: "tab-underlined" %>
  </li>
  <li>
    <a href="#" class="tab-underlined">My events</a>
  </li>
</ul>
