<ul class="list-inline tabs-underlined">
  <li>
    <a href="/events" class="tab-underlined active">Upcoming events</a>
  </li>
  <li>
    <a href="/invitations" class="tab-underlined">My invitations</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">My events</a>
  </li>
</ul>
