<h1>Welcome <%= current_user.username unless current_user.nil? %>!</h1>
<h2>What would you like to do today?</h2>
<ul>
  <li><%= link_to "Browse events", events_path %></li>
  <li><%= link_to "Launch/suggest a new event", new_event_path %></li>
  <li>Manage my events</li>
</ul>
