.tabs-underlined {
  display: flex;
  align-items: center;
  background-color: var(--dark-green);
  padding: 16px 8px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
}

.tabs-underlined .tab-underlined {
  color: white;
  padding: 8px;
  margin: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}
